# ML
ML/Data_Preprocessing/titanic/
ML/Data_Preprocessing/Kaggle_Preprocessor_lab_assignment/data/
ML/Kaggle_Default_Prediction/data/
ML/Kaggle_Default_Prediction/pickles/
ML/Kaggle_Default_Prediction/kaggle_code/
# pycache
__pycache__/
